<div>
  <.simple_form
    for={@form}
    id="products-form"
    phx-submit="save"
    phx-change="validate"
    phx-target={@myself}
  >
    <.input field={@form[:name]} label="Name" />
    <.input field={@form[:description]} type="textarea" label="Description" />
    <.input field={@form[:price]} label="Price" />
    <:actions>
      <.button phx-disable-with="Saving...">Save Products</.button>
    </:actions>
  </.simple_form>
</div>
