<tr id={@id}>
  <td class="border px-4 py-2">
    <.link href={~p"/customer/orders/#{@order.id}"}><%= @order.id %></.link>
  </td>
  <td class="border px-4 py-2"><%= @order.address %></td>
  <td class={[(@order.status != :DELIVERED && "text-orange-600") || "", "border px-4 py-2"]}>
    <%= humanize(@order.status) %>
  </td>
  <td class="border px-4 py-2"><%= @order.updated_at %></td>
</tr>
